.p-abs {
  position: absolute;
}
  
.p-rel {
  position: relative;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.p-0 {
  padding: 0;
}

.news-item {
  display: grid;
  grid-template-areas: "image" "body" "footer";
  grid-template-rows: max-content max-content;
  grid-gap: 40px 50px;
}

.news-img {
  grid-area: image;
}

.news-body {
  grid-area: body;
}

.news-footer {
  grid-area: footer;
}

@media (min-width: 1240px) {
  .news-item {
    grid-template-columns: 1fr 1fr;
    
    &.photo-left {
      grid-template-areas: "image body" "image footer";
    }
    &.photo-right {
      grid-template-areas: "body image" "footer image";
    }
  }
  .news-img {
    grid-row: 1 / 3;
  }
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: $text-headers;
}

.transparent {
  background-color: rgba(0, 0, 0, 0);
}

.btn-green {
  background-color: #34c176;
}