.discography-item,
.similar-item {
  display: flex;
  flex-direction: column;
  h3 {
    margin: 0;
    font-size: 18px;
    color: $text-headers;
    text-transform: capitalize;
  }

  img {
    margin-bottom: 0;
    width: 137px;
    height: 137px;
  }

  p {
    margin: 0;
  }
}

.discography-info,
.similar-info {
  margin-top: 1rem;
}

.similar-item {
  text-align: center;
}

@media (min-width: 1240px) {
  .discography-item,
  .similar-item {
    img {
      width: 250px;
      height: 250px;
    }
  }
}