footer {
  ul {
    margin: 0;
    padding: 0;
  }
  li, a {
    font-size: 16px;
    color: $text-light;
    list-style: none;
  }
}

.footer-menu {
  padding-top: 3.75rem;
  padding-bottom: 4.5rem;
}

.footer-title {
  margin-top: 0;
  font-size: 18px;
  text-transform: uppercase;
  color: $text-headers;
}


hr {
  left: 0;
  width: 100vw;
  height: 1px;
  background-color: $text-main;
  border: none;
}

.footer-icons {
  display: flex;
  gap: 1.5em;

  img {
    vertical-align: middle;
  }
}

.bottom-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  padding-right: 1rem;
}

@media (min-width: 1240px) {
  hr {
    left: 0;
    height: 2px;
  }

  .bottom-menu {
    flex-direction: row;
    padding-right: 0;
  }
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}