@mixin padding-y ($value) {
  padding-top: $value;
  padding-bottom: $value;
}

footer {
  ul {
    margin: 0;
    padding: 0;
  }
  li, a {
    font-size: 16px;
    color: $text-light;
    list-style: none;
  }
}

.footer-menu {
  @include padding-y(3rem);

  .footer-title {
    font-size: 18px;
    text-transform: uppercase;
    color: $text-headers;
  }
}

hr {
  left: 0;
  width: 100vw;
  border-top: 1px solid $text-main;
}

.footer-icons {
  display: flex;
  gap: 1.5em;
}

.bottom-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;

  @include padding-y(2rem);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 1240px) {
  hr {
    left: 0;
    border-top: 2px solid $text-light;
  }

  .bottom-menu {
    flex-direction: row;
  }
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}