@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}

* {
  box-sizing: border-box;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin padding-horizontal($pl: 20px, $pr: 20px) {
  padding-left: $pl;
  padding-right: $pr;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $text-main;
  background-color: $bg-main;
}

a {
  text-decoration: none;
  color: inherit;
}


.section-container {
  @include flex-center;
  @include padding-horizontal;
}

.header {
  @include padding-horizontal;
}

.content-center {
  @include flex-center;
  flex-direction: column;
}

@mixin headers($font-size: 18px, $line-height: 1.5) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: bold;
  text-transform: uppercase;
  color: $text-headers;
}

.h1 {
  @include headers(30px, 45px);
}

.h2 {
  @include headers;
}

.p-top-section {
  padding-top: 100px;

  .h2 {
    margin-top: 0;
    margin-bottom: 3rem;
  }
}

@media (min-width: 1240px) {
  .footer,
  .content {
    max-width: 1200px;
  }
  .header {
    padding-left: 120px;
    padding-right: 120px;
  }

  .h1 {
    @include headers(60px, 90px);
  }

  .h2 {
    @include headers(38px, 57px);
  }
}

.btn {
  display: block;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  
  color: $text-headers;
  text-transform: uppercase;
}