.popular-track {
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    width: 55px;
    height: 55px;
  }

  font-size: 12.8px;
}

.pr-50 {
  padding-right: 50px;
}

.track-info {
  h3 {
    margin: 0;
    font-size: 12.8px;
    text-transform: uppercase;
  }

  p {
    margin: 0;
  }
}

.track-time {
  margin-left: auto;
}
